<body>
  <div id="conteudo">
    <div class="parallax"></div>
    <div id="sobre">
      <h1 id="titulo-sobre" data-aos="zoom-in-up">Sobre o App</h1>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" data-aos="fade-up-right">
          <img src="../../assets/img/mulher.png" />
        </div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-0 col-0"></div>
        <div class="box col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12" data-aos="fade-up-left">
          <p>
            Mapp7 é um sistema de delivery dos serviços mecânicos em automóveis, com
            nossa tecnologia, oferecemos um relacionamento pelo seu celular entre o
            você e o profissional atuando na área específica de sua necessidade.
          </p>
        </div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-0 col-0"></div>
      </div>

      <div class="row">
        <div class="col-md-1"></div>
        <div class="box col-md-4" data-aos="fade-up-left">
          <p>
            Escolha o preço que mais cabe no seu bolso e basta um clique para que um
            mecânico chegue até você. Contamos com um excelente metódo de avaliação,
            onde levaremos até você um profissional qualificado que solucione seu
            problema.
          </p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6" data-aos="fade-up-right">
          <img src="../../assets/img/homem.png" />
        </div>
      </div>
    </div>

    <div id="mecanicos">
      <h1 id="titulo-mecanicos" data-aos="zoom-in-up">Mecânicos</h1>

      <div class="row">
        <div class="col-md-6" data-aos="fade-up-right">
          <img src="../../assets/img/mecanico.jpg" />
        </div>
        <div class="box col-md-5" data-aos="fade-up-left">
          <p>
            Venha para a Mapp7!!!<br /><br />
            Participe do nosso aplicativo e trabalhe para nós, todos os usuários que
            se cadastrarem poderão chamar por seu serviço. <br /><br />
            Coloque sua especialização e sua equipe e venha participar do melhor
            delivery de serviços mecânicos do Brasil.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1"></div>
        <div class="box col-md-4" data-aos="fade-up-left">
          <p>
            Contamos com um sistema de avaliação que após o serviço oferecido, o
            usuário avalia o mecânico com uma nota de 1 a 5 chaves inglesas
            (estrelas).
            <br /><br />
            Premiações em dinheiro serão feitas aos três melhores mecânicos da
            semana, onde ganharão uma divulgação na página principal do aplicativo o
            mês inteiro até que outro assuma o lugar.
          </p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6" data-aos="fade-up-right">
          <img src="../../assets/img/podio.png" />
        </div>
      </div>
    </div>

    <div class="parallax"></div>

    <div id="locais">
      <h1 id="titulo-locais" data-aos="zoom-in-up">Locais</h1>

      <h3 class="subtitulo">Estados onde atuamos:</h3>

      <img src="../../assets/img/mapa brasil.png" data-aos="fade-up-right">
    </div>

    <div id="ajuda">
      <h1 id="titulo-ajuda" data-aos="zoom-in-up">Ajuda</h1>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <input type="text" class="form-control" placeholder="Nome" [maxLength]="50" />
          <input type="email" class="form-control" placeholder="Email" [maxLength]="75" />
          <textarea type="text" class="form-control" rows="5" placeholder="Digite sua dúvida" [maxLength]="300"></textarea>
          <button type="button">Enviar</button>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
  
  <footer id="contato">
    <div class="row">
      <div class="col-md-2 suporte">Suporte: mapp7@gmail.com</div>
      <div class="col-md-3 duvidas">
        Para esclarecimento de dúvidas, sugestões,
        ligue para: (11) 8000-9921
      </div>
      

      <div class="col-md-1"></div>
      <div class="col-md-2 redes">Siga nossas redes sociais<br />
        <a href="#">
          <fa-icon [icon]="faFacebook"></fa-icon>
        </a>
        <a href="#">
          <fa-icon [icon]="faTwitter"></fa-icon>
        </a>
        <a href="#">
          <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
      </div>
      <div class="col-md-3 direitos">
        Todos os direitos reservados <br>
		© 2020 Mapp7
      </div>
    </div>
  </footer>
</body>