<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
  
        <img alt="Brand" class="logo" src="../../../assets/img/logotcc.png" />
  
        <a class="navbar-brand textR">Mapp7</a>
      </div>
  
      <div
        class="collapse navbar-collapse itens centro"
        id="bs-example-navbar-collapse-1"
      >
        <ul class="navbar-right nav navbar-nav">
          <li><a href="#sobre">Sobre o App</a></li>
          <li><a href="#mecanicos">Mecânicos</a></li>
          <li><a href="#locais">Locais</a></li>
          <li><a href="#ajuda">Ajuda</a></li>
          <li><a href="#contato">Contato</a></li>
        </ul>
      
      </div>
    </div>
  </nav>